@font-face{
    font-family: 'josefin';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: 'josefin';
    src: url('../assets/fonts/Josefin_Sans/JosefinSans-Bold.ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'cardo';
    src: url('../assets/fonts/Cardo/Cardo-Regular.ttf');
    font-weight: 400;
}

*:focus{
    outline: none;
}

body{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(55, 55, 228);
    font-family: 'josefin';
    /* background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #E4e9fd 50%); */
}

.josefin{
    font-family: 'josefin';
}

.mob-logo{
    display: none;
}

.cardo{
    font-family: 'cardo';
}

.logo{
    padding-top: 30px ;
}

.logo-tag-line{
    font-size: 14px;
    padding-top: 10px;
    color: black;
}



.blue-bg{
    /* background-color: rgb(55, 55, 228); */
    border-radius: 5px ;
    margin-right: 2px;
}

form{
    margin-right: auto;
    margin-left: auto;
}

input{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: block;
    border: none;
    /* margin-top: 10px; */
    border-bottom: 1px solid rgb(46, 46, 46);
    border-radius: 1.5px;
    /* padding: 1.5px; */
    background-color: transparent;
    padding: 14px 0;
    margin: 14px auto;
    transition: 0.4s ease-in-out;
}

input[type=submit]{
    /* margin-top: 30px; */
    margin: 10px auto;
    padding: 18px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn{
    min-width: 100px;
    max-width: 170px;
    font-family: 'cardo';
    border-radius: 2px;
    border: 1px solid transparent;
    background-color:rgba(55, 55, 228, 0.9) ;
    color: white;
}

input:focus{
   border-bottom: 1px solid rgb(55, 55, 228) ;  
}

input::placeholder{
    font-family: 'cardo';
    padding: 2px 0px 0px 2px;
}

.sign-up-img{
    padding-top:60px ;
}

.forgot-password{
    text-decoration: none;
    padding-top: 1rem ;
}

.login-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}

.reset-title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 80px;
    margin-top: 40px;
}

.label{
    text-align: left;
    margin-left: 20px;
    font-size: 14px;
    color: black;
}

.confirm-form input{
    margin-left: 20px;
    margin-right: 0;
}

.check-mail{
    color: black;
}

.check-mail p{
    font-size: 16px;
}

.sent-text{
    margin-bottom: 20px;
}

.sent-text-2 {
    margin-bottom: 40px;
}

.not-seen .btn{
    margin-top: 5px;
}

.input-confirm{
    z-index: 1;
}
#check-mail-overlay{
    position: absolute;
    top: 0;
    min-height: 100%;
    width: 100%;
    z-index: 9;
    transition: 1s ease;
    background-color:rgba(8, 8, 8,0.85) ;
    display: none;
    overflow-y: scroll;
}

.check-mail{
    padding: 20px;
    padding-top: 20%;
}

.icon i {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 30px;
    color: white;
}

.detail{
    margin: 0 10px;
    margin-right: 30px;
    margin-top: 20px;
}

.dets-img{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.align-dets-form{
    justify-content: space-between;
}

.details-form input{
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    margin-top: 15px;
}



input[type=file]{
    width: auto;
    margin-top: 3px;
    border-bottom: 0;
}

.profile-pic{
    margin-top: 15px;
}

.profile-label{
    color: black;
    font-size: 13px;
}

label{
    width: max-content;
}

select{
    margin-top: 15px;
    border-radius: 3px;
    padding: 15px;
    width: 150px;
}


.select-style{
    background-color: black;
    color: white;
    font-family: 'josefin';
}

#select option{
    width: 140px !important;
    height: 70px !important;
}

option{
    font-size: 16px;
}

.details-title p{
    font-size: 20px;
}

.details-select{
    font-size: 16px;
    color: black;
    margin-top: 20%;
}

#save{
    width: 40px;
    margin-top: 40px;
}

.sent-overlay{
    position: absolute;
    top: 0;
    min-height: 100vh;
    min-width: 100%;
    z-index: 9;
    transition: 0.5s ease-out;
    background-color:rgba(250, 250, 250,0.85) ;
    display: none;
    overflow-y: scroll;
    
}

.sent{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sent img{
    width: 30%;
}

input[type=file]{
    display: none;
}

.profile-image i{
    margin-bottom: 0px;
    width: max-content;
    padding: 3px;
    display: block;
    font-size: 80px;
    color: gray;
    border: 1px solid grey;
    border-radius: 3px;
    margin-top: 10px;
    width: 100px;
    height:100px;
    text-align: center;
    border-radius: 50%;

    
}

#output{
    transition: 1s ease-in;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: none;
}

.profile-image p{
    font-size: 13px;
    color: rgb(43, 42, 42);
    background-color: rgb(55, 55, 228);
    padding: 5px;
    width: fit-content;
    border-radius: 3px;
    color: white;
    font-weight: 500;
    display: inline;

}

.fit-content{
    max-width: fit-content;
    display: inline;
}

.cancel{
    height: max-content;
    width: max-content;
    margin-left: 3px;
    padding-top: 50px;
}

#cancel{
    display: inline;
    visibility: collapse;
    border: none;
    font-size: 25px ;
    color: red;
    margin-left: 5px;
    position: relative;
    top: 5px;
    transition: 0.2s ease-in;

}

@media all and (max-width:1300px){
    .flex{
        display: flex;
        flex-wrap: wrap;
    }

    .sm-100{
        width: 100%;
    }

    .sm-90{
        width: 100%;
    }

    .blue-bg{
        height: max-content;
    }

    .index-blue{
        margin-bottom: 30px;
    }
}